.svn
bin
gen
*~
*.tmp
tags
*.swp
proguard/class_files.txt
proguard/mapping.txt
proguard/seeds.txt
proguard/unused.txt
disassembled
assembled.dex
crc.h
/src/com/outfit7/talkingtom/AppSettings.java
.classpath
.project
tmp/x.wav
/AndroidManifest.xml
x.*
libs/x86
GPATH
GRTAGS
GTAGS
TAGS
/nbproject/private/
build.xml
manifest.mf
nbproject/
build
libs.x86
/ID
/res/raw/animation.vp8
/apk
/assets/animations
/res/drawable*/icon.png
# /res/xml/preferences.xml
/res/raw/yougetme.m4v
/local.properties
/outAnt

######
# ignore Android studio files for now
###
.idea
*.iml
out/
.gradle
build
######
/libs

/assets
/res
artifacts

# OSX files
.DS_Store